<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="LocalDirPath" value="E:\SourceCode\ShenLianProject\shenlianerp_main\ShenLianERPSystem\ShenLianSystem\bin\Debug" />
    <add key="RemoteDirPath" value="\\192.168.10.55\ftp\UpdateFilesPreview" />
    <add key="UserName" value="Administrator" />
    <add key="Password" value="@WSXdr5" />
    <add key="NeedCopyDescendantDir" value="true" />
    <add key="ExceptNames" value="ComplicatedReportTemplate,AutoUpdater,\Log\,.pdb,.vshost.,\TempUpdate\,GalaSoft.MvvmLight,Microsoft.Practices,app.publish,ShenLianSystem.exe.manifest,ShenLianSystem.application,ShenLianSystem.exe.config,.xml,DataAccess.dll" />
    <add key="NeedUpdateFiles" value="D:\autopub\FilesHasToCopy.txt" />
    <add key="NeedUpdateXmlFilePath" value="D:\Program Files\ShenLianERPPreview\UpdateList.xml" />
  </appSettings>
</configuration>
