D:\autopub\source\preview\slerp_api\target\classes
D:\autopub\source\preview\slerp_api\src
D:\autopub\lib
D:\autopub\preview\BuildApi.txt
D:\autopub\source\preview\slerp_api
develop
D:\autopub\Licenses.licx
D:\autopub\source\preview\shenlianerp_main\ShenLianERPSystem\ActiveReportsDesigner\EndUserDesigner\Properties\Licenses.licx
D:\autopub\source\preview\shenlianerp_main\ShenLianERPSystem\ShenLianSystem\Properties\Licenses.licx
D:\autopub\source\preview\shenlianerp_main
C:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe
D:\autopub\source\preview\shenlianerp_main\ShenLianERPSystem\ShenLianERPSystem.sln
xxx
D:\autopub\source\preview\shenlianerp_main\ShenLianERPSystem\ShenLianSystem\bin\Release
\\192.168.10.55\SlErpFtpPreview\UpdateFilesPreview
D:\autopub\preview\FilesHasToCopy.txt
D:\autopub\ExcludeFiles.txt
\\192.168.10.186\Canyou\publish-ApiPreview\publish\WEB-INF\classes
192.168.10.186
ApiPreview