D:\autopub\source\dev\slerp_api\target\classes
D:\autopub\source\dev\slerp_api\src
D:\autopub\lib
D:\autopub\dev\api-build-log.txt
D:\autopub\source\dev\slerp_api
develop
D:\autopub\Licenses.licx
D:\autopub\source\dev\shenlianerp_main\ShenLianERPSystem\ActiveReportsDesigner\EndUserDesigner\Properties\Licenses.licx
D:\autopub\source\dev\shenlianerp_main\ShenLianERPSystem\ShenLianSystem\Properties\Licenses.licx
D:\autopub\source\dev\shenlianerp_main
C:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe
D:\autopub\source\dev\shenlianerp_main\ShenLianERPSystem\ShenLianERPSystem.sln
D:\autopub\update-xml.exe
D:\autopub\source\dev\shenlianerp_main\ShenLianERPSystem\ShenLianSystem\bin\Debug
\\192.168.10.55\ftp\UpdateFiles
D:\autopub\dev\FilesHasToCopy.txt
D:\autopub\ExcludeFiles.txt
\\192.168.10.37\Canyou\publish-dev\publish\WEB-INF\classes
192.168.10.37
ApiDev